@import '../../../styles/variables.scss';

.card {
    box-shadow: $cardShadow;
    border-radius: unset !important;
    border: unset !important;
}

.cart-span {
    font-size: 15px;
    font-weight:bolder;
    text-transform: uppercase;
}
.breadcrumb {
    list-style-type: none;	
    background: none !important;
}
.v1 .breadcrumb-level {
	&::before,
	&::after{
		content: '';
		position: absolute;
		left: 0;
		height: 50%;
		width: 100%;
		background: $darkBlueColor;
		z-index: 0;
	}
	
	&::before {
		top: 0;
		transform: skew(20deg);
	}
	
	&::after {
		bottom: 0;
		transform: skew(-20deg);
	}
}
.breadcrumb-level {
	display: inline-block;
  position: relative;
  z-index: 0;
	&:last-child {
		a {
			cursor: default;
		}
		
		&::before,
		&::after {
			background: $yellowColor !important;
		}
	}
	
	&:not(:last-child):hover {
		&::before,
		&::after {
			background: $darkBlueColor ;
		}
	}
}

.breadcrumb-level a {
	display: inline-block;
	position: relative;
	line-height: 2.5;
	padding: 0 20px;
	color: $whiteColor;
    text-decoration: none;
    z-index: 1;
    font-weight: 700;
}


label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
    input {
      position: absolute;
      left: -9999px;
      &:checked + span {
        background-color: mix(#fff, $orangeColor, 84%);
        &:before {
          box-shadow: inset 0 0 0 0.4375em $orangeColor;
        }
      }
    }
    span {
      display: flex;
      align-items: center;
      padding: 0.375em 0.75em 0.375em 0.375em;
      border-radius: 99em; 
      transition: 0.25s ease;
      &:hover {
        background-color: mix(#fff, $orangeColor, 84%);
      }
      &:before {
        display: flex;
        flex-shrink: 0;
        content: "";
        background-color: #fff;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        margin-right: 0.375em;
        transition: 0.25s ease;
        box-shadow: inset 0 0 0 0.125em $orangeColor;
      }
    }
  }

  .span-class {
    font-size: 20px;
    font-weight: 700;
  }
  .mdi-span {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: $orangeColor;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $whiteColor;
    font-size: 17px;
    margin-right: 10px;
    &.pricing{
        font-size: 21px;
    }
  }
  [div-border] {
    border-bottom: 1px solid $borderColor;
  }
  [div-border-radio] {
    border-bottom: 2px dotted $borderColor;
  }
  [label-weight] {
      font-weight: 600;
  }

  .ecomtextinput {
    position: relative;
    background-color: $input-gray;
    font-size: 1rem;
    color: $darkBlueColor;
    padding: 18px 12px 6px;
    height: 50px;
    border: 2px solid $input-gray;
    border-radius: 2px;
    box-shadow: none;
  outline: none;
  width: 100%;
  font-weight: 500;
    
    & + .ecomlabel {
        position: absolute;
        
        top: 50%;
        left: 12px;
    font-size: 15px;
    font-weight: 500;
        transform: translateY(-50%);
        
        font-size: 1rem;	
        
        transition: all .15s ease;
    }

    &:hover {
        box-shadow: 0 0 0 1px $orangeColor;
        background-color: $whiteColor;
        transition: all 0.25s ease;
        border: 2px solid rgba(117, 121, 231, 0);
        
        & + .ecomlabel {
            color: $blackColor;
        }
    }
    
    &:focus {
        border: 1px solid $orangeColor;
        background-color: $whiteColor;
        box-shadow: none;
        
        & + .ecomlabel {
            color: $orangeColor;
            font-weight: 600;
            font-size: 0.8rem;
            top: 5px;
            transform: unset;
        }
    }
    
    &:not(:placeholder-shown):not(:focus) {
        & + .ecomlabel {
            color: $orangeColor;
            font-weight: 600;
            font-size: 0.8rem;
            top: 5px;
            transform: unset;
        }
    }
}

.ecomtextArea {
  position: relative;
  background-color: $input-gray;
  font-size: 1rem;
  color: $darkBlueColor;
  padding: 18px 12px 6px;
  border: 2px solid $input-gray;
  border-radius: 2px;
  box-shadow: none;
outline: none;
width: 100%;
font-weight: 500;
resize: none;
  
  & + .ecomlabel {
      position: absolute;
      
      top: 25%;
      left: 12px;
  font-size: 15px;
  font-weight: 500;
      transform: translateY(-50%);
      
      font-size: 1rem;	
      
      transition: all .15s ease;
  }

  &:hover {
      box-shadow: 0 0 0 1px $orangeColor;
      background-color: $whiteColor;
      transition: all 0.25s ease;
      border: 2px solid rgba(117, 121, 231, 0);
      
      & + .ecomlabel {
          color: $blackColor;
      }
  }
  
  &:focus {
      border: 1px solid $orangeColor;
      background-color: $whiteColor;
      box-shadow: none;
      
      & + .ecomlabel {
          color: $orangeColor;
          font-weight: 600;
          font-size: 0.8rem;
          top: 5px;
          transform: unset;
      }
  }
  
  &:not(:placeholder-shown):not(:focus) {
      & + .ecomlabel {
          color: $orangeColor;
          font-weight: 600;
          font-size: 0.8rem;
          top: 5px;
          transform: unset;
      }
  }
}

.viewModeValue{
    font-weight: 600;
    font-size: 16px;
    display: block;
    text-transform: capitalize;
  }
  .viewModeLabel{
    font-weight: bold;
    font-size: 12px;
    color: $orangeColor;
  }

  .item-div {
      border-bottom: 2px dotted $orangeColor;
      &.solidBorder {
        border-bottom: 1px solid $borderColor !important;
      }
      .product {
          flex-basis: 70%;
          font-size: 17px;
          font-weight: 600;
      }

      .total {
        flex-basis: 30%;
        font-size: 17px;
        font-weight: 600;
        &.totalAmount{
            font-size: 20px;
            color: $orangeColor;
        }
    }

  }
ul{
border-bottom: 2px dotted $orangeColor;
  li {
      .prodName {
        flex-basis: 70%;
        font-size: 15px;
        font-weight: 600;
        img {
            max-width: 40px;
            margin-right: 5px;
        }
      }
      .totalValue {
        flex-basis: 30%;
        font-size: 17px;
        font-weight: 600;
    }
    }
  }

  .button-class{
    background: $orangeColor;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    margin: 5px 0;
    display: inline-block;
    border-radius: 4px;
    color: $whiteColor;
    padding: 11px 27px;
    text-transform: capitalize;
    box-shadow: $vertiButtonShadow;
    display: flex;
    align-items: center;
    justify-content: center;
    &:active {
        transform: scale(0.95);
    }
    i {
        font-size: 22px;
    }
}

.productItem {
  flex-basis: 39%;
  margin-left: 5px;
}
.productDetail {
  flex-basis: 59%;
  margin-right: 5px;
}

@media (max-width:768px) {
  .productItem {
    flex-basis: 100%;
    margin-left: 0;
    margin-top: 5px;

  }
  .productDetail {
    margin-bottom: 5px;
    flex-basis: 100%;
    margin-right: 0;
  }
}

.defalt-div {
  margin-bottom: 0.375em;
  .defalt-button{
    border: 0;
    background: transparent;
    display:flex;
    align-items: center;
    font-weight: 500;
    color: $darkBlueColor;
    span{
              height: 25px;
              width: 25px;
              border: 0;
              background: $orangeColor !important;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $whiteColor;
              font-size: 15px;
              box-shadow: $buttonBoxShadow;
            
    }
    &:active {
      transform: scale(0.95);
  }
}

}