$orangeColor:#ef6c00;
$whiteColor:#fff;
$blackColor:#222;
$darkBlueColor:#113c55;
$lightGrayColor:#f3f3f3;
$mediumGrayColor:#777;
$lightBlack: #00000005;
$borderColor:#ddd;
$lightWhiteColor:#d3d3d3;
$input-gray: #f3f3f4;
$gray: #757575;
$darkGrayColor:#878787;
$navColor: rgba(255, 255, 255, 0.8);
$buttonBoxShadow:0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
$yellowColor: #ffc107;
$dropDownBoxShadow:0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
$hrSolidColor:#dae0e5;
$cardShadow: 2px 2px 6px 0 rgba(0,0,0,.1),0 1px 1px 0 transparent,0 1px 3px 0 rgba(0,0,0,.12);
$vertiButtonShadow:0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);