<div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <i class="mdi mdi-close-thick"></i>
    </button>
  </div>
  <div class="modal-body d-flex align-items-center justify-content-center">
    <span>{{value}}</span>
  </div>
  <div class="modal-footer d-flex align-items-center justify-content-center">
    <button type="button" class="button-class" routerLink="/login" (click)="activeModal.dismiss('Cross click')">Continue</button>
  </div>