  
     <div class=" container  deal py-3">
         <div class="bag ">
             <div class="d-flex align-items-center justify-content-between top-section">
                <div>
                    <h4>Deal of the Day</h4>
                    <span class="text-muted">Deals Refresh Every 12 Hours</span>
                </div>
                <button [routerLink]="['/product/list']" [queryParams]="{viewDeal: true}">View All</button>
             </div>
     <swiper  class="swiper-container" [config]="ONSALE_SWIPER_CONFIG">
        <div class="container conta-style"  *ngFor="let dealDay of dealDayItems" >
            <div class="card" routerLink="/home/product/view/{{dealDay._id}}">
                <div class="img-class d-flex align-items-center justify-content-center">
                <img  [src]= "dealDay.images[0]"/>
                </div>
                <div class="w-100">
                <h3>{{dealDay.name}}</h3>
                <p class="mb-0">₹ {{dealDay.offerPrice}}</p>
                <p class="mb-0 p-class justify-content-center" *ngIf="dealDay.offer > 0"> Up to <span>{{dealDay.offer}}%</span> off</p>
            </div>
            </div>            
        </div>
      </swiper>
    </div>
    </div>
        	