<div class="d-flex flex-wrap align-items-center">
    <div class="card" *ngFor = "let product of products">
        <div class="product-grid" >
            <div class="product-image">
                <div class="ribbon" *ngIf="product.offer  > 0">
                    <span>{{product.offer}}% off</span>
                  </div>
                <a href="javascript:void(0);" class="image" routerLink="/home/product/view/{{product._id}}">
                    <img class="pic-1" [src]="product.images[0]" />
                    <div>
    
                        <img class="pic-2" [src]="product.images[1]" />
    
                    </div>
                </a>
               
                <ul class="social">
                    <li (click)="imgView(product._id)"><a href="javascript:void(0);"><i class="mdi mdi-eye"></i></a></li>
                    <li (click)="addToWishList()"><a href="javascript:void(0);"><i class="mdi mdi-heart-outline"></i></a></li>
                    <li (click)="addToCart(product)"><a href="javascript:void(0);"><i class="mdi mdi-cart"></i></a></li>    
                </ul>
            </div>
           
            <div class="product-content" routerLink="/home/product/view/{{product._id}}">
                <h3 class="title mb-1"><a href="javascript:void(0);">{{product.name}} </a></h3>
                <span class="mx-2">{{product.desc | slice:0:80}}...</span>
                <div class="price">
                    <app-rating [currentRate]="currentRate"></app-rating>
                    <a href="javascript:void(0)" class="amountClass">₹ {{product.offerPrice}}
                        <del *ngIf="product.offer  > 0">₹{{product.actualPrice}}</del>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>  

    <app-image-modal
*ngIf= "showHidePopup"
(closePoup) = "closePoup($event)"
[items]="productItems"
></app-image-modal>